{% extends 'main.html' %}
{% block title %} OTS-login Form {% endblock title %}
{% block top %}
<a  href="{% url 'OTS:registrationForm' %}"> Signup</a>
{% endblock %}
{% block content %}
<div class="all-forms">
    {% if loginError %}
        <div id="error">{{loginError}}</div>
    {% endif %}
    <form action="{% url 'OTS:login' %}" method="post">
        {% csrf_token %}
    <div class="form-unit">
        <label for ="username">Username</label>
        <input type="text" name="username">
    </div>
    <div class="form-unit">
        <label for ="password">Password</label>
        <input type="password" name="password">
    </div>
    <div class="submit">
        <input type="submit" name="login">
        <input type="reset" name="clear">
    </div>
</form>
<h3 id="i1" >New User<a href="{% url 'OTS:registrationForm' %}">Click Here</a></h3>
</div>
{% endblock %}