{% extends 'main.html' %}
{% block title %} OTS-Registration Status {% endblock title %}
{% block top %}
<a  href="{% url 'OTS:registrationForm' %}"> Signup</a>
<a  href="{%url 'OTS:login' %}">Login</a>
{% endblock %}
{% block content %}
{% if userStatus == 1 %}
    <div class="userStatus">
        <h3>Sorry,Username already exists, please try different username.</h3>
        <h5><a href="{% url 'OTS:registrationForm' %}"> Try Again!</a></h5></div>
    </div>
{% elif userStatus == 2 %}
    <div class="userStatus">
        <h3>Congratulations! , User created successfully</h3>
        <a href="{% url 'OTS:login' %}"> login</a>
    </div>
{% elif userStatus == 3 %}
    <div class="userStatus">
        <h3>Oops! Improper Request.Please try again.</h3>
        <a href="{% url 'OTS:registrationForm' %}"> Back to Candidate Registration Form</a>
    </div>
{% endif %}
{% endblock %}